@import 'bootstrap/dist/css/bootstrap.min.css';

$DARK: #071e3d;

$LIGHT: #21e6c1;

$SEMI-DARK: #1f4287;

$SEMI-LIGHT: #278ea5;

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');

* {
    font-family: 'Comfortaa';
}

a {
    text-decoration: none !important;
    color: inherit;
}
