@import '../../../default.scss';

.note {
    margin-top: 0.5rem;
    padding: 0.5rem;
    color: $DARK;

    border-radius: 10px;
    .row1 {
        width: 100%;
        display: flex;
        h2 {
            flex-grow: 1;
        }

        .icon {
            font-size: 1.5rem;
            align-self: center;
            padding: 1rem;
        }
    }

    p {
        color: lightgray;
        margin: 0;
    }
}
